<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:allowBackup="true"
        android:label="Inventario"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".activities.inicio.SelectorRolActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.inicio.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activities.inicio.InicioGenericoActivity"
            android:exported="false" />

        <activity
            android:name=".activities.inicio.RegistroActivity"
            android:exported="false" />

        <activity android:name=".activities.departamentos.ProductosDepartamentoActivity" />

        <activity
            android:name=".activities.departamentos.DepartamentosActivity" />



    </application>

</manifest>